*,
::before,
::after
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-size: medium;
    padding: 10px;
}

h1{
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (min-width: 768px){
    body{
        font-size: 30px;
    }
}