{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% block title %}{% endblock title %} | by Layesall</title>
    <link rel="stylesheet" href="{% static 'base/base.css' %}" />
  </head>
  <body>
    <header class="base-header">
      <div class="base-logo">
        <a href="{% url "index" %}">CVitae</a>
        <small>by Layesall</small>
      </div>
      <nav class="base-nav">
        <a href="{% url "works" %}">Works</a>
        <a href="{% url "news" %}">News</a>
      </nav>
    </header>
      {% block banner %}{% endblock banner %}
  </body>
</html>
